{% extends "layout.html" %}
{% block content %}
    <div class="">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom mb-4">
                    Join today
                </legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label mb-2") }}
                    {{ form.username(class="form-control form-control-lg mb-2") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label mb-2") }}
                    {{ form.email(class="form-control form-control-lg mb-2") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label mb-2") }}
                    {{ form.password(class="form-control form-control-lg mb-2") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label mb-2") }}
                    {{ form.confirm_password(class="form-control form-control-lg mb-2") }}
                </div>
            </fieldset>
            <div class="text-end mt-2">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <div class="text-end mt-2">
            <small class="text-muted">
                Already Have ab account? <a href="{{ url_for('login') }}" class="ml-2">Sign In </a>
            </small>
        </div>
    </div>
{% endblock content %}